.col-center{
    float: none;
    margin: 0 auto;
}
.rest-title{
	color: green;
}
h1{
	text-align: center;
}

.subTotal {
	color: blue;
	text-align: right;
}
.btn{
	padding: 5px;
	margin-top:0;
}
.orderTotal{
	margin-top:15px;
}